<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

### 01) WAP to print “Hello World”

In [1]:
print('hello world')

hello world

### 02) WAP to print addition of two numbers with and without using input().

a = 10
b = 5
print(a+b)

In [21]:

a = int(input('enter first number'))
b = int(input('enter second number'))
print(a+b)

enter first number 3
enter second number 3

6

### 03) WAP to check the type of the variable.

In [2]:
a = 10.0
print(type(a))

<class 'float'>

### 04) WAP to calculate simple interest.

In [7]:
p = 100
r = 5
t = 3

SI = (p*r*t)/100

print(SI)

15.0

### 05) WAP to calculate area and perimeter of a circle.

In [21]:
R = 5
AOC = 3.14*R*R

print(AOC)

78.5

perimeter of circle

In [22]:
r = 5
c = 2*3.14*r
print(c)

31.400000000000002

### 06) WAP to calculate area of a triangle.

In [23]:
b = 3
h = 4
a = (b*h)/2
print(a)

6.0

### 07) WAP to compute quotient and remainder.

In [24]:


def compute(n, m):
	
	# for quotient
	q = n//m
	print("Quotient: ", q)
	
	# for remainder
	r = n%m
	print("Remainder", r)

compute(10, 3)
compute(99, 5)

Quotient:  3
Remainder 1
Quotient:  19
Remainder 4

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [25]:
F = 56
c = ((F) - 32) * 5/9
print(c)

C = 4
f = ((C) * 9/5) + 32
print(f)

13.333333333333334
39.2

### 09) WAP to find the distance between two points in 2-D space.

In [26]:
import math

def distance(x1, y1, x2, y2):
 
  return math.sqrt((x2 - x1)**2 + (y2 - y1)**2)


x1, y1 = 9, 8
x2, y2 = 8, -5
print("The distance between given  points is:", distance(x1, y1, x2, y2))

The distance between given  points is: 13.038404810405298

### 10) WAP to print sum of n natural numbers.

In [27]:
n = int(input('enter the number'))
sum = n*(n+1)/2
print(sum)

10.0

### 11) WAP to print sum of square of n natural numbers.

In [28]:
n = 4
Sumofsquare = (n * (n + 1) * (2 * n + 1)) / 6
print (Sumofsquare)

30.0

### 12) WAP to concate the first and last name of the student.

In [29]:
firstName = "deep"
lastName = "vamja"
res = firstName + " " + lastName
print(res)

deep vamja

### 13) WAP to swap two numbers.

In [31]:



a = int(input('enter first num'))
b = int(input('enter second num'))

print ("Before swapping: ")
print("Value of a : ", a, " and b : ", b)


a, b = b, a

print ("After swapping: ")
print("Value of a : ", a, " and b : ", b)

Before swapping:
Value of a :  4  and b :  5
After swapping:
Value of a :  5  and b :  4

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [33]:
kilometer=float(input("Enter The Kilometer : "))

m=kilometer*1000
cm=m*100
i=cm/2.54
ft=i/12
print("Kilometers : ",kilometer)
print("Meters  : ",m)
print("Centimeters : ",cm)
print("Inches : ",i)
print("Feet : ",ft)

Kilometers :  4.0
Meters  :  4000.0
Centimeters :  400000.0
Inches :  157480.3149606299
Feet :  13123.359580052493

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [34]:
day = int(input('enter the day'))
month = int(input('enter the month'))
year = int(input('enter the year'))

print((day),(month),(year),sep = "-")

12-2-2024

In [ ]:
fp = open("")